@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/assets/banner.webp" width="1920" height="1080" class="object-cover max-h-[70vh]" alt="Home Banner">
</div>

<div class="flex flex-col gap-4 mb-5 w-[85%] mx-auto">
    <div class="grid grid-cols-12 gap-4 justify-between items-center">
        <h1 class="col-span-6 text-[#3D3D3D] text-left text-4xl font-bold leading-[normal]">Featured Products</h1>
        <p class="col-span-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fringilla nunc in molestie feugiat. Nunc auctor consectetur elit, quis pulvina.</p>
    </div>
    <div class="grid grid-col-1 md:grid-cols-2 xl:grid-cols-4 justify-items-center g-4">

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://prod-cdn.pharmacity.io/e-com/images/ecommerce/P24817.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p class="card-text">Price: $19.99</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://prod-cdn.pharmacity.io/e-com/images/ecommerce/P24817.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p class="card-text">Price: $19.99</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://prod-cdn.pharmacity.io/e-com/images/ecommerce/P24817.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p class="card-text">Price: $19.99</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://prod-cdn.pharmacity.io/e-com/images/ecommerce/P24817.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p class="card-text">Price: $19.99</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row p-5" style="background-color: #404040">
    <div class="row col-5">
        <div class="d-flex flex-column align-items-start justify-content-center col-12">
            <h2 class="text-white">Have a Look at Our Unique Selling Propositions</h2>
            <a href="@Url.Action("ReadMore", "Home")" class="btn btn-primary">Read More</a>
        </div>
    </div>
    <div class="d-flex flex-column mt-4 col-md-6">
        <div class="">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
        </div>
        <div class=" d-flex flex-row">
            <div>
                <h3>99%</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
            </div>
            <div>
                <h3>100%</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
            </div>
        </div>
        <div class="col-md-3">
           
        </div>
    </div>
</div>